
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  width: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "imgppal imgppal imgppal imgppal imgppal"
    "content content content content content"
    "calltoact calltoact calltoact calltoact calltoact"
    "content2 content2 content2 content2 content2"
    "footer footer footer footer footer";
}


.img-ppal {
  display: grid;
  grid-area: imgppal;
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-column-end: 6;
  overflow: hidden;
  grid-template-areas: "overlay";
}
.slider ::after,
.slider::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  grid-area: imgppal;
}

.slider {
  grid-area: imgppal;
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-column-end: 6;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.img-div {
  grid-area: overlay;
}
.tituloppal {
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  grid-area: overlay;
  z-index: 1;
}

.tituloppal h1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  font-family: "Italiana";
  font-weight: 300;
  font-size: 70px;
  text-align: center;
  color: #fff;
}

.img-div {
  display: grid;
  grid-area: imgppal;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-area: overlay;
  margin: 0;
}
/*
.banner {
  animation: banner 6s linear infinite;
}
.banner2 {
  animation: banner2 6s linear infinite;
}
.banner3 {
  animation: banner3 6s linear infinite;
}
.banner4 {
  animation: banner4 6s linear infinite;
}

@keyframes banner {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes banner2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes banner3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes banner4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}*/

.text-focus-in {
  text-align: center;
  font-family: "Italiana";
  font-weight: 100;
  font-size: 35px;
  color: #fff;
  z-index: 1;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.content {
  display: grid;
  grid-area: content;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-template-areas:
    "titulo titulo titulo"
    "parrafos parrafos parrafos"
    "containercards containercards containercards";

  margin-top: 100px;

  grid-template-rows: auto;
  font-size: 20px;
  line-height: 20px;
}

.containercards {
  display: grid;
  grid-area: containercards;
  gap: 60px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.titulo h1 {
  display: grid;
  grid-area: titulo;
  margin-bottom: 30px;
  line-height: 85px;
  font-size: 70px;
  margin-top: 20px;
  font-family: "Italiana", serif;
  font-weight: 100;
  max-width: 1fr;
}

.parrafos {
  display: grid;
  grid-area: parrafos;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-rows: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: normal;
  max-width: 700px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.card1,
.card2,
.card3 {
  max-width: 1fr;
  font-size: medium;
  grid-template-rows: auto;
}

.card1 p,
.card2 p,
.card3 p {
  width: 1fr;
  text-align: start;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.card1 img,
.card2 img,
.card3 img {
  width: 1fr;
  height: 340px;
  object-fit: cover;
}

.card1 h2,
.card2 h2,
.card3 h2 {
  padding-top: 20px;
  padding-bottom: 8px;
  font-family: "Italiana", serif;
  font-weight: 100;
  font-size: 30px;
  line-height: 30px;
}

.calltoact {
  display: grid;
  grid-area: calltoact;
  text-align: end;
  grid-column-start: 4;
  grid-column-end: 5;
  margin-top: 20px;
}

.material-icons {
  float: left;
  margin-left: 150px;
}

a:link {
  text-decoration: none;
}

.calltoacto a:visited {
  text-decoration: none;
}

.calltoacto a:hover {
  text-decoration: none;
}

.calltoacto a:active {
  text-decoration: none;
}

.calltoact h3 {
  margin-left: 10px;
  font-family: "Italiana";
  font-weight: 400;
}

.content2 {
  display: grid;
  grid-area: content2;
  margin-top: 30px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-template-rows: auto;
  margin-bottom: 200px;
  font-size: 15px;
  line-height: 20px;
}

.titulo2 h1 {
  display: grid;
  margin-bottom: 30px;
  line-height: 65px;
  font-size: 60px;
  margin-top: 20px;
  width: 500;
  font-family: "Italiana", serif;
  font-weight: 100;
  letter-spacing: 2px;
}

.parrafos2 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-auto-rows: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  line-height: normal;
  max-width: 700px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.parrafos p {
  padding-bottom: 30px;
}

.containercards2 {
  display: grid;
  gap: 60px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.card4,
.card5,
.card6 {
  max-width: 1fr;
  font-size: medium;
  grid-template-rows: auto;
}

.card4 img,
.card5 img,
.card6 img {
  width: 1fr;
  height: 480px;
  object-fit: cover;
}

.card4 h2,
.card5 h2,
.card6 h2 {
  padding-top: 20px;
  padding-bottom: 8px;
  font-family: "Italiana", serif;
  font-weight: 100;
  font-size: 30px;
  line-height: 30px;
}

.card4 p,
.card5 p,
.card6 p {
  width: 1fr;
  text-align: start;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

footer {
  display: inline-flex;
  padding: 30px 30px 30px 30px;
  background-color: #000;
  justify-content: space-between;
  font-family: "Italiana", serif;
  font-weight: 100;
}

.footer {
  display: grid;
  grid-area: footer;
  vertical-align: middle;
}

h4 {
  color: #d3ba87;
  vertical-align: middle;
}

.redes {
  vertical-align: middle;
  display: inline-flex;
  flex-flow: row;
}

.btn-redes {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 0.2px solid #d3ba87;
  color: #d3ba87;
  overflow: hidden;

  text-align: center;
}

.btn-redes i {
  line-height: 50px;
  font-size: 20px;
  transition: 0.2s linear;
}

.btn-redes:hover i {
  transform: scale(1.3);
}

.copyright {
  display: inline-block;
  align-self: start;
  vertical-align: middle;
  line-height: 50px;
}

@media (max-width: 440px) {

  .img-ppal h1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;

    align-items: center;
    margin-top: 40px;
    font-family: "Italiana";
    font-weight: 300;

    font-size: 30px;
    text-align: center;
    color: #fff;
  }

  .content {
    margin-top: 50px;
  }

  .titulo h1 {
    display: grid;
    grid-area: titulo;
    line-height: 55px;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: "Italiana", serif;
    font-weight: 100;
  }

  .parrafos {
    display: grid;
    grid-area: parrafos;
    grid-template-rows: auto;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .containercards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .card1,
  .card2,
  .card3 {
    max-width: 1fr;
    font-size: medium;
    grid-template-rows: auto;
  }

  .content2 {
    display: grid;
    grid-area: content2;
    margin-top: 30px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-template-rows: auto;
    margin-bottom: 70px;
    font-size: 15px;
    line-height: 20px;
  }

  .containercards2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .titulo2 h1 {
    display: grid;
    grid-area: titulo;
    grid-column-start: 2;
    grid-column-end: 5;
    line-height: 50px;
    font-size: 45px;
    margin-bottom: 10px;
    font-family: "Italiana", serif;
    font-weight: 100;
  }

  .parrafos2 {
    font-size: 20px;
  }

  .btn-redes {
    margin-top: 10px;
    width: 30px;
    height: 30px;
  }

  .btn-redes i {
    line-height: 30px;
    font-size: 20px;
    transition: 0.2s linear;
  }

  .copyright {
    font-size: 12px;
  }
}
