<body>
  <div class="wrapper">
    <div class="img-ppal">
      <div class="img-div">
        <div class="slider banner">
          <img
            src="/assets/Images/Carrousel-Home-1fn.jpg"
            width="100%"
            alt=""
          />
        </div>
      </div>
      <div class="tituloppal"><h1>Where Home Feels Like an Escape</h1></div>
    </div>

    <main class="content">
      <div class="titulo">
        <h1>
          Step in to the World of
          <span style="color: #b89535">FVK Collection</span>
        </h1>
      </div>
      <div class="parrafos">
        <p>
          Rejuvenating at your own wellness retreat in the Swiss Alps, skiing
          from your own serviced chalet in France, or savouring each second on
          your villa’s private dock in the Mediterranean. Our secluded escapes
          are designed to feel like home.
        </p>

        <p>
          Look beyond our highly curated ski chalets, retreats, spas and villas
          and you’ll find a collection of people with an unwavering set of
          standards.
        </p>

        <p>
          Your in-house team will be there to offer highly personalised
          experiences in utter comfort and privacy. This is life savoured to the
          fullest.
        </p>
      </div>

      <div class="containercards">
        <div class="card1">
          <img src="/assets/Images/card-img1.jpeg" width="100%" alt="" />

          <h2>Why FVK Collection?</h2>
          <p>
            Wherever in the world you’re exploring, if there’s F.V.K’s name on
            the door, you can expect our signature services and exceptionally
            high standards.
          </p>
        </div>
        <div class="card2">
          <img src="/assets/Images/card-img2.jpeg" width="100%" alt="" />
          <h2>Our Roots</h2>
          <p>
            Many of you will know us from our beginnings at F.V.K Gstaad: our
            award-winning, 5-star superior hotel in Switzerland. Now, we’re
            found in exclusive destinations across Europe.
          </p>
        </div>
        <div class="card3">
          <img src="/assets/Images/card-img3web.jpg" width="100%" alt="" />
          <h2>Sustainable Living</h2>
          <p>
            A tree is planted for every night you stay with us. Plus, you will
            find biodegradable and sustainable materials used throughout.
            F.V.K’s properties enhance natural habitats and never disrupt them.
          </p>
        </div>
      </div>
    </main>
    <div class="calltoact">
      <a (click)="navigateToComponent()"
        ><span class="material-icons"> arrow_forward </span>
        <h3>Check Our Collection</h3></a
      >
    </div>
    <section class="content2">
      <div class="titulo2">
        <h1>Signature <span style="color: #b89535">FVK Services</span></h1>
      </div>
      <div class="parrafos2">
        <p>
          We’re known for our world-class service, surpassing ‘luxury’ to offer
          highly personalised experiences in utter seclusion. Not only do we get
          to know and anticipate your needs, but we’ll delight you with
          surprises along the way.
        </p>
      </div>

      <div class="containercards2">
        <div class="card4">
          <img src="/assets/Images/card2-img1.jpeg" width="100%" alt="" />

          <h2>Private Concierge</h2>
          <p>
            Helicopter transfers, Michelin star chefs and 24/7 service staff can
            be arranged by our in-house teams to personalise each experience.
            Consider it handled, however spontaneous the idea
          </p>
        </div>
        <div class="card5">
          <img src="/assets/Images/card2-img2.jpeg" width="100%" alt="" />
          <h2>Health & Wellness</h2>
          <p>
            Indulge in personalised treatments with state-of-the-art amenities
            and lifestyle wellness treatments at our leading Swiss clinic and
            renowned spas.
          </p>
        </div>
        <div class="card6">
          <img src="/assets/Images/card2-img3.jpeg" width="100%" alt="" />
          <h2>Tailored Experiences & Events</h2>
          <p>
            We can map-out the perfect day for your group based on your
            interests. Be it for business or pleasure. After all, no-one knows
            these locations like we do.
          </p>
        </div>
      </div>
    </section>
  </div>
</body>
