<div class="footer">
  <footer>
     <div class="copyright">

       <h4>© 2022, FVK Collection</h4>

      </div>
      <div class="redes">
        <a class="btn-redes" href="https://www.instagram.com/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a class="btn-redes" href="https://www.linkedin.com/" target="_blank"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
        <a class="btn-redes" href="https://www.facebook.com/" target="_blank"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a class="btn-redes" href="https://www.youtube.com/" target="_blank"
          ><i class="fa-brands fa-youtube"></i
        ></a>
        <a class="btn-redes" href="https://wa.me/541162243229" target="_blank"
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
      </div>
  </footer>
