<div class="wrapper">
<div class="imgppal">
  <div class="img-div">
   <img src="/assets/Images/About-me-bg.png" width="100%" alt=""></div>
   <div class="tituloppal"><h1>About Us</h1></div>
</div>

<main class="intro">
   <h1>F.V.K Collection</h1>
   <h2>We own and curate ultra-luxury homes in exclusively prime locations — where properties are extraordinarily rare, and the world’s most sophisticated clients want to come and stay. </h2>
   <p>Since 2016, we’ve grown from our roots as an award-winning hotel in Gstaad, Switzerland, to include a wider collection of chalets and waterfront retreats that stretch from the Alps to the Mediterranean. And, while we evolve to the changing needs of our guests, we’ve kept true to our signature F.V.K experience. You will come to expect exceptionally high service from our in-house teams, as well as the utmost comfort and discretion.</p>
   <p>Wellbeing and sustainability are also at the core of our DNA. Each property has access to its own extensive, state-of-the-art wellness amenities and has been artistically curated to reflect its natural surroundings. </p>
</main>
<section class="contenido">
   <div class="card">
       <div class="img">
           <img src="/Imagenes/1_-_Mission.jpeg" alt="">
       </div>
       <div class="copy">
           <div class="titulo">
               <h2>Mission</h2>
           </div>
           <div class="texto">
               <p>We are on a mission to continuously elevate the traditional hospitality sector and set the trend in tailored, luxury living. It’s the service of a 5-star superior hotel, served to you in utter privacy.</p>
           </div>
       </div>
   </div>

   <div class="card2">
       <div class="copy">
           <div class="titulo">
               <h2>Vision</h2>
           </div>
           <div class="texto">
               <p>Our vision is to create properties rich in character in the world’s most exclusive and desirable destinations. Plus, our commitment to sustainability starts at the beginning.</p>
           </div>
       </div>
       <div class="img">
           <img src="/Imagenes/2-Vision.jpg" alt="">
       </div>
   </div>

   <div class="card">
       <div class="img">
           <img src="/Imagenes/3-Values.jpg" alt="">
       </div>
       <div class="copy">
           <div class="titulo">
               <h2>Values</h2>
           </div>
           <div class="texto">
               <p>Each of our staff is handpicked because of their unwavering standards, whether it’s a trailblazing chef from a renowned restaurant or a wellness coach that’s perfectly suited to you.</p>
           </div>
       </div>
   </div>
</section>
</div>


