
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white ;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-template-rows: auto;
  grid-template-areas:

    "imgppal imgppal imgppal imgppal imgppal"
    "intro intro intro intro intro"
    "contenido contenido contenido contenido contenido"
    "footer footer footer footer footer";
}

.imgppal {
  display: grid;
  grid-area: imgppal;
  grid-row: auto;
  grid-template-areas: "overlay";
}

.img-div {
  grid-area: overlay;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.tituloppal {
  display: grid;
  grid-area: overlay;
  z-index: 2;
  align-items: center;
}

.tituloppal h1 {
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: "Italiana";
  font-size: 70px;
  text-shadow: 2px 2px  #535353;
  color: #fff;
}

.titulo {
  font-family: "Italiana";
  font-weight: 100;
}

.intro {
  display: grid;
  grid-area: intro;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-template-columns: 1fr;
  margin: 90px 150px 90px 150px;
}

.intro-title {
  font-family: "Italiana", serif;
  font-weight: 100;
  font-size: 70px;
  color: black;
  padding-bottom: 30px;

}

.intro-subtitle {
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.intro p {
  padding-bottom: 20px;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 300;
}

.contenido {
  display: grid;
  grid-area: contenido;
  grid-column-start: 2;
  grid-column-end: 5;
  margin-bottom: 20px;
  text-align: center;
  margin-top: -50px;
}

.card {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}
.card:nth-child(3) {
  margin-bottom: 100px;
}

.card2 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  justify-content: space-between;
  margin: 10px;
  grid-template-columns: 1fr 1fr;
}

.card .copy {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: 2;
  grid-column-end: 3;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 70px 0px 70px 70px;
  text-align: left;
  width: 100%;
  align-self: center;
}

.card2 .copy {
  display: grid;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-columns: 1fr;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 70px 70px 70px 0px;
  text-align: left;
  width: 100%;
}

.card2 .copy .texto {
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
.card .copy .titulo {
  display: grid;
  font-size: 50px;
  grid-row: 1fr;
  font-family: "Italiana";
}

.card2 .copy .titulo {
  grid-row: 1fr;
  font-size: 50px;
  padding-bottom: 0px;
  font-family: "Italiana";
}

.card .copy .texto {
  display: grid;
  font-size: 18px;
}

.card img {
  grid-template-columns: 1fr;
  display: grid;
  object-fit: cover;
  height: 378.77px;
  width: 100%;
}

.card2 img {
  height: 378.77px;
  object-fit: cover;
  grid-template-columns: 1fr;
  width: 100%;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .intro {
    display: grid;
    grid-area: intro;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-template-columns: 1fr;
    margin: 90px 30px 90px 30px;
  }

  .tituloppal{
    grid-area: overlay;
    font-size: 45px;
  }

  .card img {
    width: 1fr;
    height: 100%;
  }

  .card2 img {
    width: 1fr;
    height: 100%;
  }
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header "
      "imgppal "
      "intro intro "
      "contenido "
      "footer ";
  }

  .imgppal {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: imgppal;
  }
  .tituloppal h1 {
    font-size: 0px;
    margin-top: 60px;
  }

  .intro {
    display: grid;
    grid-area: intro;
    text-align: center;
    grid-template-columns: 1fr;
    margin: 60px 40px 60px 40px;
  }

  .intro h1 {
    grid-template-columns: 1fr;
    font-size: 52px;
    padding-bottom: 30px;
    margin-top: -10px;
  }

  .intro-subtitle {
    font-size: 18px;
  }

  .intro p {
    padding-bottom: 20px;
    font-size: 16px;
  }

  .contenido {
    display: grid;
    grid-area: contenido;
    grid-template-columns: 1fr;
    margin-bottom: 0px;
    text-align: center;
    margin-top: -50px;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
  }

  .card2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
  }

  .card2 .copy {
    display: grid;
    justify-content: left;
    padding: 15px 15px 0px 15px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .card img {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card2 img {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .card .copy {
    display: grid;
    justify-content: left;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 15px 15px 0px 10px;
    position: relative;
  }
  .card .copy .titulo {
    font-size: 30px;
  }
  .card2 .copy .titulo {
    font-size: 30px;
  }

  .card .copy .texto {
    font-size: 15px;
  }

  .card2 .copy .texto {
    font-size: 15px;
  }

  .btn-redes {
    margin-top: 10px;
    width: 30px;
    height: 30px;
  }

  .btn-redes i {
    line-height: 30px;
    font-size: 20px;
    transition: 0.2s linear;
  }
  .copyright {
    font-size: 12px;
  }
}
