
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NAV BAR*/

div .logo {
  opacity: 1;
  text-align: center;
}

.btn {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  display: flex;
  width: 20px;
  height: 20px;
}

.btn span {
  width: 20px;
  height: 2px;
  background: #000;
  display: flex;
  position: absolute;
  transition: 0.3s;
}

.btn span:nth-child(1) {
  top: 20%;
}

.btn span:nth-child(2) {
  top: 70%;
}

.btn.is-active span {
  background: #fff;
}

.btn.is-active span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg);
}

.btn.is-active span:nth-child(2) {
  top: 50%;
  transform: rotate(45deg);
}

.menu {
  background: #171717;
  display: grid;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  background-attachment: scroll;
  font-family: "Raleway";
  font-weight: 100;
}

.menu.is-active {
  opacity: 1;
  visibility: visible;
}

.menu__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.menu__link {
  position: relative;
  display: inline-flex;
  font-weight: 200;
  font-style: normal;
  font-size: 48px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.menu__link:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 1px;
  background: #d3ba87;
  transition: 0.3s;
}

.menu__link:hover:after {
  width: 100%;
}

a:hover {
  font-style: italic;
  color: #d3ba87;
}
header nav a:hover {
  font-style: italic;
}

header {
  display: grid;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0, 7s;
  padding: 30px 30px;
  text-align: center;
  align-items: center;
  z-index: 10;
}

header.down {
  background: #fff;
  padding: 20px 20px;
}

nav {
  display: grid;
  text-align: center;
}

body {
  background: white ;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header"
    "imgppal imgppal imgppal imgppal imgppal"
    "intro intro intro intro intro"
    "contenido contenido contenido contenido contenido"
    "footer footer footer footer footer";
}

.imgppal {
  display: grid;
  grid-area: imgppal;
  grid-template-areas: "overlay";
}

.img-div {
  grid-area: overlay;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.tituloppal {
  display: grid;
  grid-area: overlay;
  z-index: 2;
  align-items: center;
}

.tituloppal h1 {
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: "Italiana";
  font-weight: 100;
  font-size: 100px;
  color: #fff;
}

.intro {
  display: grid;
  grid-area: intro;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-template-columns: 1fr;
  margin: 90px 150px 90px 150px;
}

.intro h1 {
  font-family: "Italiana", serif;
  font-weight: 100;
  font-size: 65px;
  color: #b89535;
  padding-bottom: 30px;
}

.intro h2 {
  padding-bottom: 30px;
  font-size: 30px;
  font-family: "Italiana", serif;
  font-weight: 100;
}

.intro p {
  padding-bottom: 20px;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 300;
}

.contenido {
  display: grid;
  grid-area: contenido;
  grid-column-start: 2;
  grid-column-end: 5;
  margin-bottom: 20px;
  text-align: center;
  margin-top: -50px;
}

.card {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}
.card:nth-child(3) {
  margin-bottom: 100px;
}

.card2 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  justify-content: space-between;
  margin: 10px;
  grid-template-columns: 1fr 1fr;
}

.card .copy {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: 2;
  grid-column-end: 3;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 70px 0px 70px 70px;
  text-align: left;
  width: 100%;
  align-self: center;
}

.card2 .copy {
  display: grid;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-columns: 1fr;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 70px 70px 70px 0px;
  text-align: left;
  width: 100%;
}

.card2 .copy .texto {
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
.card .copy .titulo {
  display: grid;
  font-size: 50px;
  grid-row: 1fr;
  font-family: "Italiana";
}

.card2 .copy .titulo {
  grid-row: 1fr;
  font-size: 50px;
  padding-bottom: 0px;
  font-family: "Italiana";
}

.card .copy .texto {
  display: grid;
  font-size: 18px;
}

.card img {
  grid-template-columns: 1fr;
  display: grid;
  object-fit: cover;
  height: 378.77px;
  width: 100%;
}

.card2 img {
  height: 378.77px;
  object-fit: cover;
  grid-template-columns: 1fr;
  width: 100%;
}

footer {
  display: inline-flex;
  padding: 30px 30px 30px 30px;
  background-color: #000;
  justify-content: space-between;
}

.footer {
  display: grid;
  grid-area: footer;
  vertical-align: middle;
  font-family: "Italiana", serif;
  font-weight: 100;
}

.redes {
  vertical-align: middle;
  display: inline-flex;
  flex-flow: row;
}

.btn-redes {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 0.2px solid #d3ba87;
  color: #d3ba87;
  overflow: hidden;
  text-align: center;
}

.btn-redes i {
  line-height: 50px;
  font-size: 20px;
  transition: 0.2s linear;
}

.btn-redes:hover i {
  transform: scale(1.3);
}

.copyright {
  display: inline-block;
  align-self: start;
  vertical-align: middle;
  line-height: 50px;
  color: #d3ba87;
  vertical-align: middle;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .intro {
    display: grid;
    grid-area: intro;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-template-columns: 1fr;
    margin: 90px 30px 90px 30px;
  }

  .card img {
    width: 1fr;
    height: 100%;
  }

  .card2 img {
    width: 1fr;
    height: 100%;
  }
}

@media (min-width: 320px) and (max-width: 767.99px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header "
      "imgppal "
      "intro intro "
      "contenido "
      "footer ";
  }

  .header {
    grid-area: header;
    grid-template-columns: 1fr;
  }

  div .logo {
    display: grid;
    place-items: center;
    text-align: center;
  }

  .menu {
    justify-content: center;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .menu.is-active {
    grid-area: header;
    text-align: center;
  }

  .menu__list {
    text-align: center;
    justify-items: center;
  }

  .imgppal {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: imgppal;
  }
  .tituloppal h1 {
    font-size: 70px;
    margin-top: 60px;
  }

  .intro {
    display: grid;
    grid-area: intro;
    text-align: center;
    grid-template-columns: 1fr;
    margin: 60px 40px 60px 40px;
  }

  .intro h1 {
    grid-template-columns: 1fr;
    font-size: 52px;
    padding-bottom: 30px;
    margin-top: -10px;
  }

  .intro h2 {
    font-size: 20px;
  }

  .intro p {
    padding-bottom: 20px;
    font-size: 16px;
  }

  .contenido {
    display: grid;
    grid-area: contenido;
    grid-template-columns: 1fr;
    margin-bottom: 0px;
    text-align: center;
    margin-top: -50px;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
  }

  .card2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
  }

  .card2 .copy {
    display: grid;
    justify-content: left;
    padding: 15px 15px 0px 15px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .card img {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card2 img {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .card .copy {
    display: grid;
    justify-content: left;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 15px 15px 0px 10px;
    position: relative;
  }
  .card .copy .titulo {
    font-size: 30px;
  }
  .card2 .copy .titulo {
    font-size: 30px;
  }

  .card .copy .texto {
    font-size: 15px;
  }

  .card2 .copy .texto {
    font-size: 15px;
  }

  .btn-redes {
    margin-top: 10px;
    width: 30px;
    height: 30px;
  }

  .btn-redes i {
    line-height: 30px;
    font-size: 20px;
    transition: 0.2s linear;
  }
  .copyright {
    font-size: 12px;
  }
}
